<div id="addItemTitle">
    <h3>Add Item:</h3>
</div>
<div id="addItemFailure" class="hidden">
    <div class="alert">
        <button type="button" class="close" data-dismiss="alert">×</button>
        <strong>Error:</strong> There was a problem adding the item.
    </div>
</div>
<div class="container-fluid">
    <form action="javascript:void(0)" id="addItemForm" class="form-horizontal">
        <fieldset>
            <div class="row-fluid">
                <div class="span4">
                    <label class="control-label">Type</label>
                    <div class="controls">
                        <input type="text" class="itemAttribute" required="required" placeholder="Type description" name="type"/>
                    </div>
                </div>
                <div class="span4">
                    <label class="control-label">Quantity</label>
                    <div class="controls">
                        <input class="itemAttribute" type="number" name="quantity" min="1" value="1">
                    </div>
                </div>
                <div class="span4"></div>
            </div>
            <div class="row-fluid">
                <div class="span4">
                    <label class="control-label">Consigner</label>
                    <div class="controls">
                        {{#if user.admin}}<input type="text" class="itemAttribute" name="consigner" value="{{user.username}}"/>{{else}}<input type="text" class="itemAttribute" name="consigner" value="{{user.username}}" disabled="disabled"/>{{/if}}
                    </div>
                </div>
                <div class="span4">
                    <label class="control-label">Cost</label>
                    <div class="controls">
                        <input type="text" class="itemAttribute" placeholder="$0.00" name="cost"/>
                    </div>
                </div>
                <div class="span4"></div>
            </div>
            <div class="row-fluid">
                <div class="span4">
                    <label class="control-label" >Size</label>
                    <div class="controls">
                        <input type="text" class="itemAttribute" placeholder="Large" name="size"/>
                    </div>
                </div>
                <div class="span4">
                    <label class="control-label">Asking Price</label>
                    <div class="controls">
                        <input type="text" class="itemAttribute" placeholder="$0.00" name="askingPrice"/>
                    </div>
                </div>
                <div class="span4"></div>
            </div>
            <div class="row-fluid">
                <div class="span4">
                    <label class="control-label">Color</label>
                    <div class="controls">
                        <input type="text" class="itemAttribute" placeholder="Red" name="color"/>
                    </div>
                </div>
                <div class="span4">
                    <label class="control-label">Baseline Price</label>
                    <div class="controls">
                        <input type="text" class="itemAttribute" placeholder="$0.00" name="baselineSalePrice"/>
                    </div>
                </div>
                <div class="span4"></div>
            </div>
            <div class="row-fluid">
                <div class="span4">
                    <label class="control-label">Gender</label>
                    <div class="controls">
                        <select name="gender" class="itemAttribute">
                            <option></option>
                            <option>Male</option>
                            <option>Female</option>
                            <option>Neutral</option>
                        </select>
                    </div>
                </div>
                <div class="span4">
                    <label class="control-label">Purchase Date</label>
                    <div class="controls">
                        <input type="date" class="itemAttribute" name="purchaseDate">
                    </div>
                </div>
                <div class="span4"></div>
            </div>
            <div class="row-fluid">
                <div class="span4">
                    <label class="control-label">Material</label>
                    <div class="controls">
                        <input type="text" class="itemAttribute" placeholder="Polyester" name="material"/>
                    </div>
                </div>
                <div class="span5">
                    <div class="block">
                        <div class="controls">
                            <label class="chcekbox inline">On Cart
                                <input type="checkbox" class="itemAttribute" name="onCart"></label>

                            <label class="chcekbox inline">On Etsy
                                <input type="checkbox" class="itemAttribute" name="onEtsy"></label>

                            <label class="chcekbox inline">At SOWA
                                <input type="checkbox" class="itemAttribute" name="onSowa"></label>
                        </div>
                    </div>
                </div>
                <div class="span3"></div>
            </div>
            <div class="row-fluid">
                <div class="span4">
                    <label class="control-label">Point Of Purchase</label>
                    <div class="controls">
                        <input type="text" class="itemAttribute" name="pointOfPurchase"/>
                    </div>
                </div>
                <div class="span4">
                    <label class="control-label">Description</label>
                    <div class="controls">
                        <textarea rows="3" class="itemAttribute" placeholder="Item Description" name="description"></textarea>
                    </div>
                </div>
                <div class="span4"></div>
            </div>
        </fieldset>
    </form>
</div>
<div class="row-fluid">
    <div class="span12">
        <div id="addItemFooter">
            <a href="javascript:void(0)" onclick="$('#addItemContainer').toggle('slow')" class="btn" data-dismiss="modal">Close</a>
            <a href="javascript:void(0)" onclick="Item.saveForm(Item.buildInputMap('itemAttribute'));" class="btn btn-primary">Save</a>
        </div>
    </div>
</div>
