{{!< layouts/default}}

<div class="splashContent">
    My friend Justin, a clothes salesman, needed a simple system to track his inventory and sales. Myself, a software
    developer, wanted to play with node.js and MongoDB, and thus the Le Pants King Inventory System. Built in my free
    time between work and school, the product is not completely finished, but the basic functionality is complete.
</div>

<div class="splashContent">
    To <a href="http://github.com/deeg">view the code</a> visit my github page:
</div>

<div class="splashContent">
    To <a href="/login">login</a> use the following credentials:
    <ul>
        <li>Username: admin</li>
        <li>Password: admin</li>
    </ul>
</div>

<div class="splashContent">
    Highlighted Features:
    <ul>
        <li><strong>Authenticated login</strong></li>
        <li>
            <strong>Different levels of authentication:</strong> If you are not an admin, you can only view, edit and delete items which
            you added to the system. To test this out, try logging in with: dan, dan.
        </li>
        <li>
            <strong>Generating labels for inventory:</strong> Click on the QR code for each item you would like to generate a label for,
            and then click ‘Generate Labels’ on the left. Labels are generated with a QR Code, a price, and a code
            used by Justin. The QR code contains a link to the item in the inventory system, allowing Justin to
            quickly pull up an item, and process a sale from his phone.
        </li>
        <li><strong>Basic sale statistics:</strong> When processing a sale basic sale statistics and quantity of the item are updated.</li>
    </ul>
</div>